/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1c1f26;
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
}

.score {
    font-size: 32px;
    margin-bottom: 20px;
    color: #00d1b2;
}

/* Big Go Back Symbol */
.go-back-symbol {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 72px;
    color: #00d1b2;
    text-decoration: none;
    transition: color 0.3s;
}

.go-back-symbol:hover {
    color: #00b89a;
}

/* Quiz Title */
h1 {
    font-size: 46px;
    margin-bottom: 32px;
    color: #00d1b2;
    text-shadow: 0px 0px 13px #00d1b2;
}

/* Container for the quiz form */
form {
    width: 90%;
    max-width: 620px;
    padding: 30px;
    background-color: #282c34;
    border-radius: 13px;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align the form content to the left */
}

/* Question and option styling */
.question {
    width: 100%;
    margin-bottom: 20px;
}

.question p {
    font-size: 32px;
    color: #a1a7c2;
    margin-bottom: 20px;
}

/* Align labels to the left */
label {
    font-size: 28px;
    color: #a1a7c2;
    display: block;
    margin-bottom: 12px;
    cursor: pointer;
    text-align: left; /* Align text within labels to the left */
    width: 100%; /* Ensure labels take up full width */
}

/* Larger Radio button styling */
input[type="radio"] {
    margin-right: 10px;
    accent-color: #00d1b2; /* Accent color for the radio buttons */
    width: 30px;  /* Increase the width */
    height: 30px; /* Increase the height */
    margin-top: 5px; /* Adjust vertical alignment */
}

/* Submit button styling */
button {
    width: 100%;
    height: 55px;
    padding: 0 22px;
    background-color: #00d1b2;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00b89a;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #00d1b2, 0 0 0 5px rgba(0, 209, 178, 0.4);
}

/* Focus styles for accessibility */
input:focus,
button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #00d1b2, 0 0 0 5px rgba(0, 209, 178, 0.4);
}

/* Responsive adjustments */
@media (max-width: 650px) {
    form {
        width: 95%;
        padding: 26px;
    }

    h1 {
        font-size: 31px;
    }

    label {
        font-size: 16px;
    }

    button {
        font-size: 16px;
        height: 50px;
    }
}
