* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f4f4f4, #4A90E2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
    margin-bottom: 60px;
    font-size: 3em;
}

form {
    background-color: #fff;
    padding: 60px;
    border-radius: 12px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: left;
}

label {
    margin-bottom: 15px;
    display: block;
    font-weight: bold;
    font-size: 2em;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 20px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 30px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 22px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 30px;
    font-size: 30px;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-size: 30px;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 30px;
}
