<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Home</title>
</head>
<body>

    <h1>Welcome to the Muscle Mind!</h1>

    <a href="{{ url_for('create_quiz_route') }}">
        <button class="create-quiz-button">Create Quiz</button>
    </a>

    <!-- Only show the quizzes if there are any -->
    {% if quizzes and quizzes|length > 0 %}
    <h2>Your Quizzes:</h2>
    <ul>
        {% for quiz in quizzes %}
        <li>
            <!-- Make the whole quiz-container clickable -->
            <a href="{{ url_for('take_quiz_route', quiz_id=quiz[0], question_num=0) }}" style="text-decoration: none;">
                <div class="quiz-container">
                    <span class="quiz-title">{{ quiz[1] }}</span>
                </div>
            </a>

        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No quizzes available.</p> <!-- Message if no quizzes exist -->
    {% endif %}

    <a href="{{ url_for('logout') }}">
        <button class="logout-button">Log Out</button>
    </a>

</body>
</html>